{% extends "home/common.html" %}

{% block background %}
    .back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(https://gamebomb.ru/files/galleries/001/e/eb/281299.jpg) no-repeat top center #efeff1;
  background-size:cover;
}
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div><b>Event name:</b> {{ form.title }}</div>
        <p><b>Description:</b></p>
        <div>{{ form.content }}</div>
        <div><b>Period:</b>{{ form.period }}</div><br>

        <input type="submit" value="Published">

    </form>

{% endblock %}